html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Myriad Pro Regular", sans-serif;
  background-color: #fff;
  font-size: 1.8rem;
}

.header {
  background-image: url("../img/slider.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.8rem;
  height: 100rem;
  color: #ffffff;
}
.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  flex-wrap: nowrap;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__menu-item {
  margin-right: 70px;
}
.header__menu-item a {
  color: #ffffff;
}

.btn-download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #004fb9, #4c81f7);
  border-radius: 24px;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  width: 170px;
  height: 48px;
}
.btn-download:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: 0.25s;
}

.slider__content {
  padding-top: 85px;
}
.slider__content h1 {
  font-size: 6.6rem;
  margin-bottom: 40px;
  line-height: 76px;
}
.slider__content p {
  line-height: 28px;
  margin-bottom: 60px;
}
.slider__content .btn-download {
  font-size: 3rem;
  width: 294px;
  height: 74px;
}
.slider__content .btn-download img {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}
.slider__img {
  display: flex;
  justify-content: flex-end;
}

.features {
  color: #2b2b2b;
  margin-bottom: 270px;
}
.features__head {
  text-align: center;
  max-width: 70%;
  padding-top: 65px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.features__head h2 {
  font-size: 4.4rem;
  font-family: "Myriad Pro Light", sans-serif;
  margin-bottom: 30px;
}
.features__head h2 span {
  color: #004fb9;
  font-family: "Myriad Pro Bold", sans-serif;
}
.features__head p {
  line-height: 26px;
}
.features__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 35px;
}
.features__item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.features__item:hover h2 {
  color: #004fb9;
}
.features__item img {
  width: 50px;
  height: 50px;
}
.features__item h2 {
  font-size: 2.4rem;
  font-family: "SFProText-Bold", sans-serif;
  margin: 25px 0;
}
.features__item p {
  font-family: "SFProText-Light", sans-serif;
  line-height: 26px;
}

.introduce {
  background-image: url("../img/background-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 920px;
}
.introduce .phone-hoz {
  position: absolute;
  left: 0;
  right: 0;
  top: -160px;
  display: flex;
  justify-content: center;
}
.introduce__right h3 {
  font-size: 3.2rem;
}
.introduce__right h2 {
  font-size: 4.4rem;
  color: #004fb9;
  margin-bottom: 30px;
}
.introduce__right p {
  line-height: 30px;
}
.introduce__right .btn-download {
  margin-top: 40px;
}

.description {
  padding-bottom: 155px;
}
.description__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  text-align: center;
}
.description__title h2 {
  font-size: 4.4rem;
}
.description__title h2 span {
  color: #004fb9;
}
.description__content__img {
  display: flex;
  justify-content: center;
}
.description__content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 75px;
}
.description__content__item:hover {
  transition: all 0.3s;
}
.description__content__item:hover h2 {
  color: #004fb9;
}
.description__content__item h2 {
  font-size: 2.4rem;
  font-family: "Myriad Pro Bold", sans-serif;
  margin-bottom: 15px;
  margin-top: 20px;
}
.description__content__left {
  text-align: right;
}
.description__content__right {
  text-align: left;
}
.description__content__right .align-left {
  align-items: flex-start;
}

.footer {
  background-image: url("../img/bg-footer.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 630px;
  color: #ffffff;
  position: relative;
}
.footer__content {
  padding-top: 90px;
}
.footer__content h3 {
  font-size: 32px;
  margin-bottom: 15px;
}
.footer__content h2 {
  font-size: 44px;
  margin-bottom: 18px;
}
.footer__content p {
  line-height: 28px;
  max-width: 76%;
}
.footer__img {
  position: absolute;
  top: -100px;
  right: 0;
}
.footer__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.footer__bottom h3 {
  text-transform: uppercase;
}
.footer__bottom p {
  color: #9dd4ff;
  font-family: "SFProText-Light", sans-serif;
}
.footer__download {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__download .btn-googleStore {
  border: 3px solid #ffffff;
  margin-left: 30px;
}
.footer__download .btn-download {
  height: 70px;
  width: 270px;
  border-radius: 35px;
}
.footer__download .btn-download:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.footer__download .btn-download .btn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}
.footer__download .btn-download .btn-text-bold {
  font-family: "Myriad Pro Bold", sans-serif;
  font-size: 24px;
}

@media screen and (min-width: 1200px) {
  .reset-col {
    padding-left: 0;
    padding-right: 0;
  }

  .features__item {
    padding: 45px 15px;
  }
}
@media screen and (max-width: 992px) {
  p {
    font-size: 2.4rem;
    font-family: "SFProText-Light", sans-serif;
  }

  .header__logo img {
    width: 72px;
    height: 72px;
  }
  .header__menu-item:last-child {
    margin-right: 40px;
  }
  .header__menu-item a {
    font-size: 2.4rem;
  }

  .slider {
    padding-top: 85px;
  }
  .slider__content {
    padding-top: unset;
  }
  .slider__content h1 {
    font-family: "SFProText-Heavy", sans-serif;
    font-size: 4.4rem;
    line-height: 55px;
  }
  .slider__content p {
    margin-bottom: 50px;
  }

  .features__head {
    max-width: 80%;
  }
  .features__head h2 {
    margin-bottom: 25px;
  }
  .features__head p {
    font-size: 24px;
    line-height: 36px;
    font-family: "SFProText-Light", sans-serif;
  }
  .features__item {
    max-width: 78%;
    margin: 0 auto;
  }
  .features__item img {
    height: 110px;
    width: 110px;
  }
  .features__item h2 {
    font-size: 3.2rem;
  }
  .features__item p {
    font-size: 24px;
    line-height: 36px;
  }

  .introduce {
    height: 100%;
    background-position: left top;
  }
  .introduce .phone-hoz {
    width: 85%;
    margin: 0 auto;
    top: -70px;
  }
  .introduce__reverse {
    flex-direction: column-reverse;
  }
  .introduce__right {
    padding-top: 150px;
  }
  .introduce__right h2 {
    font-family: "Myriad Pro Bold", sans-serif;
  }
  .introduce__right .btn-download {
    margin: 55px auto;
  }
  .introduce__left {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
  }
  .introduce__left img {
    padding-left: 40px;
  }

  .description__title h2 {
    margin-bottom: 20px;
  }
  .description__title span {
    font-family: "Myriad Pro Bold", sans-serif;
  }
  .description__content__img {
    padding-bottom: 50px;
  }
  .description__content__left {
    text-align: center;
  }
  .description__content__item {
    align-items: center;
  }
  .description__content__item h2 {
    font-size: 3.2rem;
    font-family: "SFProText-Heavy", sans-serif;
  }
  .description__content__item p {
    max-width: 70%;
  }
  .description__content__right {
    text-align: center;
  }
  .description__content__right .align-left {
    align-items: center;
  }

  .img-order {
    order: -1;
  }

  .footer {
    height: auto;
  }
  .footer__img {
    position: unset;
    display: flex;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 150px;
  }
  .footer p {
    line-height: 36px;
  }
  .footer__content h2 {
    font-family: "Myriad Pro Bold", sans-serif;
  }
  .footer__content p {
    max-width: unset;
  }
  .footer__download {
    justify-content: center;
  }
}
@media only screen and (min-device-width: 576.1px) and (max-device-width: 767.9px) {
  .container--edit {
    margin-left: 30px;
    margin-right: 30px;
    max-width: calc(100% - 60px);
  }
}
@media screen and (max-width: 767.9px) {
  .header__menu-item {
    margin-right: 20px;
  }
  .header__menu-item:last-child {
    margin-right: 20px;
  }

  .features {
    margin-bottom: 170px;
  }

  .features__item {
    max-width: 100%;
  }

  .features__head {
    max-width: 100%;
  }

  .slider__img {
    justify-content: center;
  }
  .slider__img img {
    max-width: 135%;
  }

  .description {
    padding-bottom: 25px;
  }

  .description__content__item p {
    max-width: unset;
  }
}
@media screen and (max-width: 576px) {
  .container--edit {
    margin-left: 5px;
    margin-right: 5px;
    max-width: calc(100% - 10px);
  }

  .header {
    height: 60rem;
    background-position: -190px;
  }
  .header__logo img {
    width: 40px;
    height: 40px;
  }
  .header__row {
    justify-content: space-around;
  }
  .header__menu .btn-download {
    font-size: 0.9rem;
    max-width: 100px;
    max-height: 25px;
  }
  .header__menu .btn-download img {
    width: 14px;
    height: 14px;
  }
  .header__menu-item a {
    font-size: 1.2rem;
  }

  .features {
    margin-bottom: 85px;
  }

  .features__head {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .features__head h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  .features__head p {
    font-size: 1.2rem;
    font-size: 1.2rem;
    line-height: 18px;
  }

  .features__item {
    padding: 15px 30px;
  }
  .features__item h2 {
    font-size: 1.6rem;
    margin: 10px 0;
  }
  .features__item p {
    font-size: 1.2rem;
    line-height: 18px;
  }
  .features__item img {
    width: 55px;
    height: 55px;
  }

  .slider__img img {
    max-width: 100%;
  }
  .slider__content .btn-download {
    font-size: 1.2rem;
    font-family: "SFProText-Semibold", sans-serif;
    width: 122px;
    height: 32px;
  }
  .slider__content .btn-download img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }
  .slider__content h1 {
    font-size: 2.2rem;
    line-height: 24px;
    font-family: "Myriad Pro Regular", sans-serif;
    margin-bottom: 22px;
  }
  .slider__content p {
    font-size: 1.2rem;
    line-height: 17px;
    margin-bottom: 24px;
  }

  .introduce .phone-hoz {
    top: -35px;
  }
  .introduce__right {
    padding-top: 75px;
  }
  .introduce__right h3 {
    font-size: 1.6rem;
  }
  .introduce__right h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  .introduce__right p {
    font-size: 1.2rem;
    line-height: 18px;
  }
  .introduce__right .btn-download {
    margin: 25px auto;
    font-size: 9px;
    max-width: 120px;
    max-height: 34px;
  }
  .introduce__right .btn-download img {
    width: 14px;
    height: 14px;
  }
  .introduce__left {
    padding-bottom: 70px;
  }

  .description__title {
    padding: 40px 0;
  }
  .description__title h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .description__title p {
    font-size: 1.2rem;
    line-height: 18px;
  }
  .description__content__item {
    margin-bottom: 40px;
  }
  .description__content__item img {
    width: 50px;
    height: 50px;
  }
  .description__content__item h2 {
    font-size: 1.6rem;
  }
  .description__content__item p {
    font-size: 1.2rem;
    line-height: 18px;
    max-width: 60%;
  }

  .footer__download .btn-googleStore {
    margin-left: 10px;
  }

  .footer__content {
    padding-top: 30px;
  }
  .footer__content h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .footer__content h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .footer__download {
    margin-top: 20px;
  }
  .footer__download .btn-googleStore {
    border-width: 2px;
  }
  .footer__download .btn-download {
    width: 135px;
    height: 35px;
    border-radius: 17.5px;
  }
  .footer__download .btn-download .btn-text-bold {
    font-size: 1.2rem;
  }
  .footer__download .btn-download .btn-text {
    margin-left: 10px;
  }
  .footer__download .btn-download span {
    font-size: 0.9rem;
  }
  .footer__download .btn-download img {
    width: 17px;
    height: 17px;
  }
  .footer__img {
    padding-top: 45px;
    padding-bottom: 75px;
  }
  .footer p {
    font-size: 1.2rem;
    line-height: 18px;
  }

  .footer__bottom {
    font-size: 1rem;
    padding: 10px 0;
  }
}
@media screen and (max-width: 374px) {
  .header__menu-item {
    margin-right: 15px;
  }
  .header__menu-item:last-child {
    margin-right: 15px;
  }

  .slider__img img {
    max-width: 115%;
  }

  .description__content__item p {
    max-width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
