html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Myriad Pro Regular", sans-serif;
  background-color: #fff;
  font-size: 1.8rem;
}

.header {
  background-image: url("/img/slider.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.8rem;
  height: 100rem;
  color: #ffffff;
}
.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__menu-item {
  margin-right: 70px;
}

.btn-download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #004fb9, #4c81f7);
  border-radius: 24px;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  width: 170px;
  height: 48px;
}
.btn-download:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: 0.25s;
}

.slider__content {
  padding-top: 85px;
}
.slider__content h1 {
  font-size: 6.6rem;
  margin-bottom: 40px;
  line-height: 76px;
}
.slider__content p {
  line-height: 28px;
  margin-bottom: 60px;
}
.slider__content .btn-download {
  font-size: 3rem;
  width: 294px;
  height: 74px;
}
.slider__content .btn-download img {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}
.slider__img {
  display: flex;
  justify-content: flex-end;
}

.features {
  color: #2b2b2b;
  margin-bottom: 270px;
}
.features__head {
  text-align: center;
  max-width: 70%;
  padding-top: 65px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.features__head h2 {
  font-size: 4.4rem;
  font-family: "Myriad Pro Light", sans-serif;
  margin-bottom: 30px;
}
.features__head h2 span {
  color: #004fb9;
  font-family: "Myriad Pro Bold", sans-serif;
}
.features__head p {
  line-height: 26px;
}
.features__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 35px;
}
.features__item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.features__item:hover h2 {
  color: #004fb9;
}
.features__item h2 {
  font-size: 2.4rem;
  font-family: "SFProText-Bold", sans-serif;
  margin: 25px 0;
}
.features__item p {
  font-family: "SFProText-Light", sans-serif;
  line-height: 26px;
}

.introduce {
  background-image: url("/img/background-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 920px;
}
.introduce .phone-hoz {
  position: absolute;
  left: 0;
  right: 0;
  top: -160px;
  display: flex;
  justify-content: center;
}
.introduce__right h3 {
  font-size: 3.2rem;
}
.introduce__right h2 {
  font-size: 4.4rem;
  color: #004fb9;
  margin-bottom: 30px;
}
.introduce__right p {
  line-height: 30px;
}
.introduce__right .btn-download {
  margin-top: 40px;
}

.description {
  padding-bottom: 155px;
}
.description__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.description__title h2 {
  font-size: 4.4rem;
}
.description__title h2 span {
  color: #004fb9;
}
.description__content__img {
  display: flex;
  justify-content: center;
}
.description__content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 75px;
}
.description__content__item:hover {
  transition: all 0.3s;
}
.description__content__item:hover h2 {
  color: #004fb9;
}
.description__content__item h2 {
  font-size: 2.4rem;
  font-family: "Myriad Pro Bold", sans-serif;
  margin-bottom: 15px;
  margin-top: 20px;
}
.description__content__left {
  text-align: right;
}
.description__content__right {
  text-align: left;
}
.description__content__right .align-left {
  align-items: flex-start;
}

.footer {
  background-image: url("/img/bg-footer.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 630px;
  color: #ffffff;
  position: relative;
}
.footer__content {
  padding-top: 90px;
}
.footer__content h3 {
  font-size: 32px;
  margin-bottom: 15px;
}
.footer__content h2 {
  font-size: 44px;
  margin-bottom: 18px;
}
.footer__content p {
  line-height: 28px;
}
.footer__img {
  position: absolute;
  top: -100px;
  right: 0;
}
.footer__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.footer__bottom h3 {
  text-transform: uppercase;
}
.footer__bottom p {
  color: #9dd4ff;
  font-family: "SFProText-Light", sans-serif;
}
.footer__download {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__download .btn-googleStore {
  border: 3px solid #ffffff;
  margin-left: 30px;
}
.footer__download .btn-download {
  height: 70px;
  width: 270px;
  border-radius: 35px;
}
.footer__download .btn-download:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.footer__download .btn-download .btn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}
.footer__download .btn-download .btn-text-bold {
  font-family: "Myriad Pro Bold", sans-serif;
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
