@import "./variable.scss";

html {
  font-size: 62.5%; // 1rem = 10px
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Myriad Pro Regular", sans-serif;
  background-color: #fff;
  font-size: 1.8rem;
}

.header {
  background-image: url("/img/slider.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.8rem;
  height: 100rem;
  color: $color-text;
  &__row {
    @include flex(flex, row, space-between, center);
    padding-top: 25px;
  }
  &__menu {
    @include flex(flex, row, flex-end, center);
    &-list {
      @include flex();
    }
    &-item {
      margin-right: 70px;
      a {
        color: $color-text;
      }
    }
  }
}
.btn-download {
  @include flex();
  background: linear-gradient(to right, #004fb9, #4c81f7);
  border-radius: 24px;
  border: none;
  color: $color-text;
  font-size: 1.6rem;
  width: 170px;
  height: 48px;
  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: 0.25s;
  }
}
.slider {
  &__content {
    padding-top: 85px;
    h1 {
      font-size: 6.6rem;
      margin-bottom: 40px;
      line-height: 76px;
    }
    p {
      line-height: 28px;
      margin-bottom: 60px;
    }
    .btn-download {
      font-size: 3rem;
      width: 294px;
      height: 74px;
      img {
        width: 40px;
        height: 40px;
        margin-right: 25px;
      }
    }
  }
  &__img {
    display: flex;
    justify-content: flex-end;
  }
}

// features
.features {
  color: $color-text-dark;
  margin-bottom: 270px;
  &__head {
    text-align: center;
    max-width: 70%;
    padding-top: 65px;
    padding-bottom: 90px;
    margin: 0 auto;
    h2 {
      font-size: 4.4rem;
      font-family: "Myriad Pro Light", sans-serif;
      margin-bottom: 30px;
      span {
        color: $color-green-dark;
        font-family: "Myriad Pro Bold", sans-serif;
      }
    }
    p {
      line-height: 26px;
    }
  }
  &__item {
    text-align: center;
    @include flex(flex, column, center, center);
    padding: 48px 35px;
    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
      h2 {
        color: $color-green-dark;
      }
    }
    h2 {
      font-size: 2.4rem;
      font-family: "SFProText-Bold", sans-serif;
      margin: 25px 0;
    }
    p {
      font-family: "SFProText-Light", sans-serif;
      line-height: 26px;
    }
  }
}
// introduce
.introduce {
  background-image: url("/img/background-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 920px;

  .phone-hoz {
    position: absolute;
    left: 0;
    right: 0;
    top: -160px;
    display: flex;
    justify-content: center;
  }
  &__right {
    h3 {
      font-size: 3.2rem;
    }
    h2 {
      font-size: 4.4rem;
      color: $color-green-dark;
      margin-bottom: 30px;
    }
    p {
      line-height: 30px;
    }
    .btn-download {
      margin-top: 40px;
    }
  }
}
// description
.description {
  padding-bottom: 155px;
  &__title {
    @include flex(flex, column, center, center);
    padding: 100px 0;
    text-align: center;
    h2 {
      font-size: 4.4rem;
      span {
        color: $color-green-dark;
      }
    }
  }
  &__content {
    &__img {
      display: flex;
      justify-content: center;
    }
    &__item {
      @include flex(flex, column, center, flex-end);
      margin-bottom: 75px;
      &:hover {
        transition: all 0.3s;
        h2 {
          color: $color-green-dark;
        }
      }
      h2 {
        font-size: 2.4rem;
        font-family: "Myriad Pro Bold", sans-serif;

        margin-bottom: 15px;
        margin-top: 20px;
      }
    }
    &__left {
      text-align: right;
    }
    &__right {
      text-align: left;
      .align-left {
        align-items: flex-start;
      }
    }
  }
}
// footer
.footer {
  background-image: url("/img/bg-footer.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 630px;
  color: $color-text;
  position: relative;
  &__content {
    padding-top: 90px;
    h3 {
      font-size: 32px;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 44px;
      margin-bottom: 18px;
    }
    p {
      line-height: 28px;
    }
  }
  &__img {
    position: absolute;
    top: -100px;
    right: 0;
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(flex, column, center center);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    h3 {
      text-transform: uppercase;
    }
    p {
      color: #9dd4ff;
      font-family: "SFProText-Light", sans-serif;
    }
  }
  &__download {
    margin-top: 70px;
    @include flex(flex, row, flex-start, center);
    .btn-googleStore {
      border: 3px solid $color-text;
      margin-left: 30px;
    }
    .btn-download {
      height: 70px;
      width: 270px;
      border-radius: 35px;
      &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
      }
      .btn-text {
        @include flex(flex, column, center, flex-start);
        margin-left: 20px;
        &-bold {
          font-family: "Myriad Pro Bold", sans-serif;
          font-size: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  p {
    font-size: 2.4rem;
    font-family: "SFProText-Light", sans-serif;
  }
  .header {
    &__logo {
      img {
        width: 72px;
        height: 72px;
      }
    }
    &__menu {
      &-item {
        &:last-child {
          margin-right: 40px;
        }
        a {
          font-size: 2.4rem;
        }
      }
    }
  }
  .slider {
    padding-top: 85px;
    &__content {
      padding-top: unset;
      h1 {
        font-family: "SFProText-Heavy", sans-serif;
        font-size: 4.4rem;
        line-height: 55px;
      }
      p {
        margin-bottom: 50px;
      }
    }
  }
  .features {
    &__head {
      max-width: 80%;
      h2 {
        margin-bottom: 25px;
      }
      p {
        font-size: 24px;
        line-height: 36px;
        font-family: "SFProText-Light", sans-serif;
      }
    }
    &__item {
      max-width: 78%;
      margin: 0 auto;
      img {
        height: 110px;
        width: 110px;
      }
      h2 {
        font-size: 3.2rem;
      }
      p {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
  .introduce {
    height: 100%;
    background-position: left top;
    .phone-hoz {
      width: 85%;
      margin: 0 auto;
      top: -70px;
    }
    &__reverse {
      flex-direction: column-reverse;
    }
    &__right {
      padding-top: 150px;
      h2 {
        font-family: "Myriad Pro Bold", sans-serif;
      }
      .btn-download {
        margin: 55px auto;
      }
    }
    &__left {
      display: flex;
      justify-content: center;
      padding-bottom: 140px;
      img {
        padding-left: 40px;
      }
    }
  }
  .description {
    &__title {
      h2 {
        margin-bottom: 20px;
      }
      span {
        font-family: "Myriad Pro Bold", sans-serif;
      }
    }
    &__content {
      &__img {
        padding-bottom: 50px;
      }
      &__left {
        text-align: center;
      }
      &__item {
        align-items: center;
        h2 {
          font-size: 3.2rem;
          font-family: "SFProText-Heavy", sans-serif;
        }
        p {
          max-width: 70%;
        }
      }
      &__right {
        text-align: center;
        .align-left {
          align-items: center;
        }
      }
    }
  }
  .img-order {
    order: -1;
  }
  .footer {
    height: auto;
    &__img {
      position: unset;
      display: flex;
      justify-content: center;
      padding-top: 85px;
      padding-bottom: 150px;
    }
    p {
      line-height: 36px;
    }
    &__content {
      h2 {
        font-family: "Myriad Pro Bold", sans-serif;
      }
    }
    &__download {
      justify-content: center;
    }
  }
}
@media screen and (max-width: 767.9px) {
  .header {
    height: 150rem;
    &__menu {
      &-item {
        margin-right: 20px;
      }
    }
  }

  .features__item {
    max-width: 100%;
    padding: 30px 14px;
  }
  .features__head {
    max-width: 100%;
  }
  .slider__img {
    padding-top: 50px;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .header {
    height: 160rem;
    &__row {
      justify-content: space-around;
    }
    &__menu {
      .btn-download {
        display: none;
      }
      &-item {
        // margin-right: 10px;
      }
    }
  }
  .description__content__item p {
    max-width: 85%;
  }

  .introduce {
    .phone-hoz {
      top: -35px;
    }
  }
  .footer__download {
    flex-direction: column;
    .btn-googleStore {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .footer {
    p {
      line-height: 24px;
    }
  }
  .footer__bottom {
    p {
      font-size: 16px;
    }
  }
}
